In [23]:
import utils.load_write as lw
import utils.datastructure_operations as dataops

df = lw.load_csv("data/csv/abmap_horse.csv")

element_groups = df.groupby("ELEMENT")
#print(df.ELEMENT.nunique(), "distinkte Einträge")
print("Es existieren Funde zu", element_groups.ngroups, "verschiedenen Knochentypen: ")
element_groups.size()

14 distinkte Einträge
Es existieren Funde zu 14 verschiedenen Knochentypen:

ELEMENT
Astragalus        229
Calcaneum          46
Femur             108
First phalanx     540
Humerus           208
Mandible            4
Metacarpal        455
Metatarsal        537
Pelvis             58
Radius            367
Scapula           198
Second phalanx      4
Tibia             335
Ulna               10
dtype: int64

In [24]:
element_measures = element_groups[["MEASURE"]]
element_measures.size()

ELEMENT
Astragalus        229
Calcaneum          46
Femur             108
First phalanx     540
Humerus           208
Mandible            4
Metacarpal        455
Metatarsal        537
Pelvis             58
Radius            367
Scapula           198
Second phalanx      4
Tibia             335
Ulna               10
dtype: int64

In [25]:
element_measures.std()

                   MEASURE
ELEMENT
Astragalus        5.152179
Calcaneum        27.864344
Femur           118.362628
First phalanx    17.217948
Humerus          60.871668
Mandible          9.767762
Metacarpal       74.571843
Metatarsal       90.667968
Pelvis           18.351385
Radius          101.088801
Scapula          15.886930
Second phalanx    3.388707
Tibia           101.197276
Ulna             10.613330

In [26]:
element_measures.var()

                     MEASURE
ELEMENT
Astragalus         26.544948
Calcaneum         776.421647
Femur           14009.711745
First phalanx     296.457730
Humerus          3705.360011
Mandible           95.409167
Metacarpal       5560.959803
Metatarsal       8220.680380
Pelvis            336.773336
Radius          10218.945668
Scapula           252.394548
Second phalanx     11.483333
Tibia           10240.888569
Ulna              112.642778

In [27]:
element_measures.mean()

                   MEASURE
ELEMENT
Astragalus       53.424891
Calcaneum        75.854348
Femur           127.794444
First phalanx    48.205000
Humerus          81.630481
Mandible         23.325000
Metacarpal       81.929451
Metatarsal       90.311918
Pelvis           53.529310
Radius          114.174659
Scapula          59.271212
Second phalanx   41.950000
Tibia           102.409433
Ulna             50.250000

In [28]:
element_measures.median()

                MEASURE
ELEMENT
Astragalus        53.90
Calcaneum         56.35
Femur             79.40
First phalanx     43.25
Humerus           69.05
Mandible          23.65
Metacarpal        44.60
Metatarsal        44.80
Pelvis            56.10
Radius            69.50
Scapula           54.40
Second phalanx    41.05
Tibia             63.20
Ulna              50.20

In [30]:
element_measures.max()

                MEASURE
ELEMENT
Astragalus         66.2
Calcaneum         117.6
Femur             450.0
First phalanx      93.2
Humerus           318.0
Mandible           33.0
Metacarpal        271.0
Metatarsal        300.6
Pelvis            127.0
Radius            439.0
Scapula           104.5
Second phalanx     46.8
Tibia             388.0
Ulna               65.2

In [31]:
element_measures.min()

                MEASURE
ELEMENT
Astragalus         40.4
Calcaneum          34.0
Femur              31.9
First phalanx      21.6
Humerus            27.0
Mandible           13.0
Metacarpal         16.1
Metatarsal         20.4
Pelvis             20.6
Radius             29.0
Scapula            35.6
Second phalanx     38.9
Tibia              31.1
Ulna               36.0

In [ ]:
import utils.plotting as plt

elements, amounts = dataops.split_dictionary(element_groups)
plt.simple_pie_chart(amounts, labels=elements)
#plt.simple_bar_chart(bone_elements.keys(), bone_elements.values())